body {
    background: #212121;
}

.selectChoiceButton:before {
    border: 0 solid;
    box-sizing: border-box;
}


.selectChoiceButton {
    background-color: #000;
    color: #fff;
    border-radius: 99rem;
    border-width: 2px;
    overflow: hidden;
    font-size: 100%;
    font-weight: 900;
    line-height: 1.5;
    margin: 0;
    text-transform: uppercase;
    padding: 0.8rem 3rem;
}


.allbutton {
    border-width: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-radius: 0.375rem;
    text-transform: uppercase;
    font-weight: 900;
}
